* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}
h2 {
  margin-top: 2rem;
  text-align: center;
}

.btn {
  font-size: 200px;
  background-color: black;
}
.container-btn {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}
.container-score {
  display: flex;
  gap: 8rem;
}
.container-score > div {
  margin: 0 auto;
}
.score {
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 20px;
  font-size: 32px;
  text-align: center;
  width: 100px;
  margin-top: 2rem;
}
.info {
  font-weight: 900;
}
